#root {
  display: flex;
  place-content: center;
  height: 100vh;
}

.App {
  width: 375px;
}

.App__content {
  padding: 24px;
}

.App__rating-and-label {
  display: flex;
  justify-content: space-between;
}

.App__label {
  background-color: #f4f6f9;
  border-radius: 8px;
  color: #6739ff;
  padding: 6px 12px;
  font-size: 0.9em;
}

.App h3 {
  font-weight: 400;
  font-size: 1.35em;
}

.MuiButtonBase-root.MuiTab-root {
  text-transform: none;
  flex-grow: 1;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: #6739ff;
  border-bottom-color: #6739ff;
}

.MuiTabs-scroller.MuiTabs-fixed .MuiTabs-indicator {
  background-color: #6739ff;
  height: 4px;
  border-radius: 4px 4px 0 0;
}